# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
.env
.node-persist
dist
tmp
/out-tsc
**/*.tsbuildinfo

# dependencies
node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
../.vscode/*
!../.vscode/settings.json
!../.vscode/tasks.json
!../.vscode/launch.json
!../.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
**/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

# nx
.nx
migrations.json

# Local Netlify folder
.netlify
package-lock.json

# wrangler
.wrangler

# Used when Agoda asked for help
**/wwwroot

# tests
playwright

# mf-enhanced types
@mf-types

# mf map from vite example
examples/vite-react-mf/host/.__mf__temp/**

# Parcel cache
.parcel-cache

# Added by Claude Task Master
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dev-debug.log
# Dependency directories
node_modules/
# Environment variables
# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
# OS specific
# Task files
tasks.json
tasks/




.cursor/rules/nx-rules.mdc
.github/instructions/nx.instructions.

# Local Claude context files
**/.claude/*.local.*
